In [1]:
# import necessary libraries
import pandas as pd
import sys
sys.path.append("/workspaces/acs-study/data")

In [4]:
filepath = '/workspaces/acs-study/data/ncjs/ncjs_2021_household.tsv'  #relative path to household-level data
df = pd.read_csv(filepath, sep='\t', header=0)  #raw dataframe

/tmp/ipykernel_45591/2898647747.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, sep='\t', header=0)  #raw dataframe

In [5]:
df.head()

,V2001,YEARQ,IDHH,V2002,V2003,V2004,V2005,V2006,V2008,V2009,...,HHREPWGTCY151,HHREPWGTCY152,HHREPWGTCY153,HHREPWGTCY154,HHREPWGTCY155,HHREPWGTCY156,HHREPWGTCY157,HHREPWGTCY158,HHREPWGTCY159,HHREPWGTCY160
0,2,2021.1,1710051325461935564934133,1,211,17,10051325461935564934,1,33,0,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
1,2,2021.1,1710051365368092564934132,2,211,17,10051365368092564934,1,32,0,...,1141.30260,322.71222,1932.48754,1668.23023,1029.30670,1047.77721,1057.54749,301.77942,990.78134,1825.16044
2,2,2021.1,1710051365448275564934213,3,211,17,10051365448275564934,2,13,0,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
3,2,2021.1,1710051665447107564945132,4,211,17,10051665447107564945,1,32,0,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
4,2,2021.1,1710053925458004564944133,5,211,17,10053925458004564944,1,33,0,...,644.90793,1855.10194,641.63150,1833.45307,598.92535,1842.90139,1678.54867,1791.81611,1782.49495,608.75028